
body {
  background-color:rgb(93, 103, 241);
} 
.display
{
  display: flex;
}
#board {
    display: grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18,1fr);

    height: 92vmin;
    width: 90vmin;
    background: linear-gradient(rgb(131, 248, 180),rgb(224, 240, 180));
    margin-top: 0px;
    margin-left: 200px;
    border: solid black 1px; 
}
#score
{  
  position: absolute;
  top: 9px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  right: 440px;
  font-size: 39px;
  font-weight: bold;
}
#highScore
{  
  position: absolute;
  top: 50px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  right: 350px;
  font-size: 39px;
  font-weight: bold;
}
#snakeimg
 {
    margin-top: 170px;
     margin-left: 40px;
     width: 500px;
     height:500px;
     background-size: contain;
     background-repeat: no-repeat;
     background-image: url("./media/pngegg.png");
}
.snake
{
  background-color: green;
  border-radius: 20px;
}
.head
{
  background-color:indigo;
  border-radius: 13px;
}
.food
{
  background-color: rgb(247, 0, 12);
  border-radius: 13px;
}