
body {
  background-color:rgb(93, 103, 241);
  min-height: 100vh;
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
} 
.display
{
  display: inline-block;
  vertical-align: top;
}
#board {
    display: grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18,1fr);

    height: 92vmin;
    width: 90vmin;
    background: linear-gradient(rgb(133, 181, 243),rgb(5, 75, 75));
    margin-top: 20px;
    margin-left: 200px;
    border: solid transparent 10px; 
    border-image: url("./media/border.png") 15 round;
}
#scores {  
  margin-top: 20px;
  margin-left: 20px;
  width: 2in;
  height: 1in;
  padding: 2px;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
}
#snakeimg {
  margin-left: 40px;
  margin-top: 70px;
     width: 500px;
     height:500px;
     background-size: contain;
     background-repeat: no-repeat;
     background-image: url("./media/pngegg.png");
}
.snake
{
  background-color: greenyellow;
  border-radius: 9px;
}
.head
{
  background-image: url("./media/kisspng-snake-red-game-without-a-great-name-puzzle-video-g-snake-cartoon-5a78349db78fa3.3414221815178272297519.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.food
{
  background-image: url("./media/frog_PNG35719.png");
  background-repeat: no-repeat;
  background-size: cover;
}